body {
  background-color: chocolate;
}
/* 3. *(star is a)Globel Selector */
* {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
}
dd {
  background-color: aqua;
}
/* 1. Id Selecter */

/* 4. Group Selector */
p,
h3,
h6,
h2 {
  border: 1px solid;
  background-color: chartreuse;
}

.listOrder {
  background-color: blueviolet;
}
